---
layout: default
title: Home
lang: nl
permalink: index
---
    <section id="banner">
      <div class="banner-item bg-overlay" style="background-image:url(/assets/images/hero-area/bg-main2.jpg)">
        <div class="container">
          <div class="banner-content text-center">
            <div class="banner-content-wrap">
              <div class="countdown bg-style">
                <div class="counter-day">
                  <span class="days">00</span>
                  <div class="smalltext">Dagen</div>
                </div>
                <div class="counter-hour">
                  <span class="hours">00</span>
                  <div class="smalltext">Uur</div>
                </div>
                <div class="counter-minute">
                  <span class="minutes">00</span>
                  <div class="smalltext">Minuten</div>
                </div>
                <div class="counter-second">
                  <span class="seconds">00</span>
                  <div class="smalltext">Seconden</div>
                </div>
              </div>
              <h1 class="banner-title">{{ site.data.event.name }}</h1>
              <h2 class="banner-subtitle">{{ site.data.event.date.nl }}, {{ site.data.event.year }}</h2>
              <h3 class="banner-desc">{{ site.data.event.venue.name }}, {{ site.data.event.venue.city }}</h3>
              <p class="banner-btn">
                <a href="{{ site.data.event.tickets }}" class="btn btn-primary" target="_blank">Tickets</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="ts-intro" class="ts-intro no-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="gap-60"></div>
            <h2 class="intro-title">Over de Hackathon</h2>
            <h3 class="intro-sub-title">Breng ons naar de toekomst</h3>
            <p class="intro-desc">Wil jij een miljarden industrie wakker schudden? Houd jij van disruptie en impactvolle uitdagingen? CSU organiseert
              een hackathon om van slimme outsiders te horen welke huidige en toekomstige ontwikkelingen de schoonmaakbranche
              kunnen gaan raken en hoe dit er uit kan zien. Ook wil CSU weten van welke ontwikkelingen zij moeten gaan zórgen
              dát ze de schoonmaakdienstverlening gaan beïnvloeden. We zoeken daarbij een ‘out of the box’ kijk op het schoonmaakvak,
              waarbij we zelfs de vraag durven stellen, in welke mate schoonmaken in de toekomst nodig is.
            </p>
            <p>Ideeën die uit de hackathon gaan komen, zouden de schoonmaakbranche volledig op z’n kop kunnen gaan zetten. Wil
              jij helpen om deze kentering aan te brengen? Ben jij techneut, bedrijfskundige, socioloog, futurist, data scientist,
              ontwikkelaar of heb je vanuit een verrassende invalshoek expertise om bij te dragen aan disruptie en impactvolle
              uitdagingen?
            </p>
            <p class="banner-btn">
                <a class="btn btn-primary" href="{{ site.data.event.tickets }}" target="_blank">Meld je aan!</a>
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="intro-video">
              <img class="img-responsive" src="{{ '/assets/images/intro-video.jpg' | relative_url }}" alt="" />
              <a class="popup" href="https://www.youtube.com/embed/_C04bg8eCsM?autoplay=1&amp;loop=1">
                <div class="video-icon">
                  <i class="fa fa-play"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="ts-challenge" class="ts-challenge no-padding">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="gap-60"></div>
          <h2 class="intro-title">Neem jij de uitdaging aan?</h2>
          <h3 class="intro-sub-title">Challenge</h3>
          <p class="intro-desc">
            Schoonmaak zorgt er als onderdeel van de totale facilitaire dienstverlening voor dat de omgeving waar mensen werken en wonen
            prettig en gezond is. De manier waarop de schoonmaakdienstverlening door specialistische bedrijven wordt uitgevoerd,
            lijkt heel erg op de manier waarop dat 50 jaar geleden gebeurde. Er is relatief weinig geïnnoveerd vergeleken
            bij andere branches, die in sommige gevallen hun taken totaal anders uitvoeren én organiseren. Denk aan de productie,
            de logistiek, de techniek of de financiële dienstverlening. De stofzuiger en de microvezeldoek zijn één van de
            weinige producten die in al die jaren een intrede in deze branche hebben gemaakt en in hun tijd als disruptief
            zijn ervaren.
          </p>
          <p>CSU, een schoonmaakorganisatie met 25 duizend medewerkers, bestaat precies 50 jaar en staat al die tijd bekend
            als innovatieve organisatie. De wereld is echter steeds sneller in beweging en CSU daagt jou uit om met ons vooruit
            te kijken naar ontwikkelingen die een steeds hoger tempo lijken te kennen. Het schoonmaakwerk zal veranderen,
            de medewerker ontwikkelt en de arbeidsmarkt eveneens. Deze drie pijlers zullen elkaar onderling ook sterk beïnvloeden.
            Maar hóe ontwíkkelen ze zich? Welke technologische, digitale, economische, ecologische en sociaal maatschappelijke
            trends gaan we zien die hierop van invloed kunnen zijn?
          </p>
        </div>
        <div class="gap-30"></div>
      </div>
    </section>
    <section id="ts-pricing" class="ts-pricing">
      <div class="container">
         <div class="row">
            {% for item in site.data.prizes %}
            <div class="col-md-4">
               <div class="ts-pricing-box {{ item.class }}">
                  <div class="ts-pricing-header">
                     <h2 class="ts-pricing-name">{{ item.name.nl }}</h2>
                     <h2 class="ts-pricing-price">
                        <span class="currency">{{ item.cur }}</span><strong>{{ item.ammount }}</strong>
                     </h2>
                  </div>
                  <!-- Pricing header end-->
                  <!--<div class="ts-pricing-features">
                     <ul class="list-unstyled">
                        <li class="check">Get Access to all Sessions</li>
                        <li class="check">Unlimited Coffee and Foods</li>
                        <li class="un-check">Meet with Favorite Speakers</li>
                        <li class="un-check">Access to all Audio and Video Files</li>
                     </ul>
                  </div>-->

               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </section>
    <section id="ts-speakers" class="ts-speakers gradient-bg">
      <div class="container">
        <div class="row text-center">
          <h3 class="section-sub-title title-white">Sprekers en Jury</h3>
        </div>
        <div class="row text-center">
          {% for item in site.data.speakers %}
          <div class="col-xs-12 col-sm-8 col-md-4">
              <div class="ts-speaker">
                <div class="ts-speaker-image">
                  <img class="img-responsive" src="/assets/images/speakers/{{ item.id }}.jpg" alt="{{ item.id }}" />
                  <ul class="social-links">
                    {% if item.instagram %}
                    <li>
                      <a href="{{ item.instagram }}" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% if item.linkedin %}
                    <li>
                      <a href="{{ item.linkedin }}" target="_blank">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% if item.facebook %}
                    <li>
                      <a href="{{ item.facebook }}" target="_blank">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    {% endif %}
                    {% if item.twitter %}
                    <li>
                      <a href="{{ item.twitter }}" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    {% endif %}
                  </ul>
                </div>
                <div class="ts-speaker-info">
                  <h3 class="ts-speaker-name">
                    <a href="#">{{ item.name }}</a>
                  </h3>
                  <p class="ts-speaker-designation">{{ item.bio.nl }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="gap-40"></div>
      </div>
    </section>

    <section id="ts-schedule" class="ts-schedule no-padding">
      <div class="container">
        <div class="row text-center">
          <h2 class="section-title">Wat gaan we doen?</h2>
          <h3 class="section-sub-title">Programma</h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="schedule-tab">
              <ul class="nav nav-tabs" id="nav-tabs">
                {% assign i = 0 %}
                {% for day in site.data.program %}
                {% if i == 0 %}
                <li class="active">
                  {% else %}
                  <li>
                  {% endif %}
                  <a class="animated fadeIn" href="#tab_{{ day.code }}" data-toggle="tab">
                    <span class="tab-head">
                      <span class="tab-text-title">{{ day.id.nl }}</span>
                    </span>
                  </a>
                </li>
                {% assign i = i | plus: 1 %}
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% assign i = 0 %}
                {% for day in site.data.program %}
                {% if i == 0 %}
                <div class="tab-pane active animated fadeInRight" id="tab_{{ day.code }}">
                  {% else %}
                  <div class="tab-pane animated fadeInRight" id="tab_{{ day.code }}">
                  {% endif %}
                
                  <h2 class="schedule-date">{{ day.date.nl }}</h2>
                  {% for listing in day["listings"] %}
                  <div class="schedule-listing {{ listing.class }}">
                    <span class="schedule-slot-time">{{ listing.time }}</span>
                    <div class="schedule-slot-info">
                      {% if listing.image %}
                      <a href="#">
                        <img class="schedule-slot-speakers" src="/assets/images/{{ listing.image }}" alt="" />
                      </a>
                      {% endif %}
                      <div class="schedule-slot-info-content">
                        {% if listing.speaker %}
                        <h3 class="schedule-slot-speaker-name">{{ listing.speaker }}</h3>
                        {% endif %}
                        {% if listing.title %}
                        <h3 class="schedule-slot-title">{{ listing.title.nl }}</h3>
                        {% endif %}
                        {% if listing.description %}
                        <p class="schedule-slot-desc">{{ listing.description.nl }}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% assign i = i | plus: 1 %}
                {% endfor %}
              <div class="gap-60"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>

    <section id="ts-venue" class="ts-venue no-padding">
      <div class="container">
        <div class="row text-center">
          <h2 class="section-title">Waar en wat?</h2>
          <h3 class="section-sub-title">Locatie en informatie</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3>{{ site.data.event.venue.name }}, {{ site.data.event.venue.city }}</h3>
            <p>{{ site.data.event.venue.description.nl }}</p>
            <div class="contact-info">
              <div class="contact-info-box">
                <i class="fa fa-map-marker">&nbsp;</i>
                <div class="contact-info-box-content">
                  <h4>Adres: </h4>
                  <p>{{ site.data.event.venue.address }}</p>
                </div>
              </div>
              <div class="contact-info-box">
                <i class="fa fa-envelope-o">&nbsp;</i>
                <div class="contact-info-box-content">
                  <h4>Email: </h4>
                  <p>{{ site.data.event.venue.email }}</p>
                </div>
              </div>
              <div class="contact-info-box">
                <i class="fa fa-phone">&nbsp;</i>
                <div class="contact-info-box-content">
                  <h4>Telefoon: </h4>
                  <p>{{ site.data.event.venue.phone }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{{ '/assets/images/venue-img.jpg' | relative_url }}" alt="">
          </div>
        </div>
        <div class="gap-60"></div>
        <div class="row text-center">
          <div class="col-md-4">
            <div class="venu-info-content">
              <span class="venu-info-img">
                <img src="{{ '/assets/images/icons/transport.png' | relative_url }}" alt="" />
              </span>
              <h3 class="venu-info-title">Transport</h3>
              <p class="venu-info-text">{{ site.data.event.venue.transport.nl }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="venu-info-content">
              <span class="venu-info-img">
                <img src="{{ '/assets/images/icons/hotel.png' | relative_url }}" alt="" />
              </span>
              <h3 class="venu-info-title">Overnachten</h3>
              <p class="venu-info-text">{{ site.data.event.venue.stay.nl }}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="venu-info-content">
              <span class="venu-info-img">
                <img src="{{ '/assets/images/icons/food.png' | relative_url }}" alt="" />
              </span>
              <h3 class="venu-info-title">Eten en drinken</h3>
              <p class="venu-info-text">{{ site.data.event.venue.food.nl }}</p>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="venu-map no-padding">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div id="map" class="map-bottom"></div>
          </div>
        </div>
      </div>
    </section>
