<footer id="footer" class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li>
                {% if page.lang == "en" %}
                <a href="/en">Home</a>
                {% else %}
                <a href="/">Home</a>
                {% endif %}
              </li>
              <li>
                  {% if page.lang == "en" %}
                  <a href="/en/program">Program</a>
                  {% else %}
                  <a href="/programma">Programma</a>
                  {% endif %}
                
              </li>
              <li>
                <a href="{{ site.data.event.tickets }}" target="_blank">Tickets</a>
              </li>
              <li>
                  {% if page.lang == "en" %}
                  <a href="/en/venue">Venue</a>
                  {% else %}
                  <a href="/locatie">Locatie</a>
                  {% endif %}
              </li>
            </ul>
          </div>
          <div class="footer-social">
            <ul>
              <li>
                <a href="https://www.facebook.com/hashtag/brightfuture">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/search?q=%23brightfuture">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/playlist?list=PLB6LNeCIm6l_N-s0YS7UN2dQkPdeScmPG">
                  <i class="fab fa-youtube-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-info">
              {% if page.lang == "en" %}
              <span>All rights reserved.</span><br/>
              <span>Theme from <a href="https://themeforest.net/item/eventor-conference-event-html-template/20599431">themeforest</a>, icons by <a href="https://www.fontawesome.io">fontawesome</a> and images by <a href="https://flic.kr/s/aHsmcC81SN">madlab.nl</a>.</span>
              {% else %}
              <span>Alle rechten voorbehouden.</span><br/>
              <span>Thema van <a href="https://themeforest.net/item/eventor-conference-event-html-template/20599431">themeforest</a>, iconen van <a href="https://www.fontawesome.io">fontawesome</a> en afbeeldingen van <a href="https://flic.kr/s/aHsmcC81SN">madlab.nl</a>.</span>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
      <button class="btn btn-primary" title="Back to Top">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>
  </footer>
  <script>
    var event_location = {
      lat: parseFloat("{{ site.data.event.location.lat }}"),
      lng: parseFloat("{{ site.data.event.location.lng }}")
    };
    var event_start = "{{ site.data.event.start }}";
    var event_venue_name = "{{ site.data.event.venue.name }}, {{ site.data.event.venue.city }}";
  </script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.counterup.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.jCounter.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/waypoints.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.colorbox.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.easypiechart.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/smoothscroll.js' | relative_url }}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
  <script type="text/javascript" src="{{ '/assets/js/gmap3.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/custom.js' | relative_url }}"></script>