<footer id="footer" class="footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-menu">
            <ul class="nav unstyled">
              <li>
                <a href="/index.html">Home</a>
              </li>
              <li>
                <a href="/programma.html">Programma</a>
              </li>
              <li>
                <a href="{{ site.data.event.tickets }}" target="_blank">Tickets</a>
              </li>
              <li>
                <a href="#ts-venue">Contact</a>
              </li>
            </ul>
          </div>
          <div class="footer-social">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/playlist?list=PLB6LNeCIm6l_N-s0YS7UN2dQkPdeScmPG">
                  <i class="fa fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-info">
            <span>Alle rechten voorbehouden.</span>
          </div>
        </div>
      </div>
    </div>
    <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
      <button class="btn btn-primary" title="Back to Top">
        <i class="fa fa-angle-up"></i>
      </button>
    </div>
  </footer>
  <script type="text/javascript" src="{{ '/assets/js/jquery.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.counterup.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.jCounter.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/waypoints.min.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.colorbox.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/jquery.easypiechart.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/smoothscroll.js' | relative_url }}"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCsa2Mi2HqyEcEnM1urFSIGEpvualYjwwM"></script>
  <script type="text/javascript" src="{{ '/assets/js/gmap3.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/custom.js' | relative_url }}"></script>