<header id="header" class="header header-transparent">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <div class="logo">
            {% if page.lang == "en" %}
            <a href="/en"></a>
            {% else %}
            <a href="/"></a>
            {% endif %}
        </div>
      </div>
      <div class="site-nav-inner">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <nav class="collapse navbar-collapse navbar-responsive-collapse pull-right">
          <ul class="nav navbar-nav">
            <li>
                {% if page.lang == "en" %}
                <a href="/en">Home</a>
                {% else %}
                <a href="/">Home</a>
                {% endif %}
            </li>
            <li>
                {% if page.lang == "en" %}
                <a href="/en/program">Program</a>
                {% else %}
                <a href="/programma">Programma</a>
                {% endif %}
            </li>
            <li>
                {% if page.lang == "en" %}
                <a href="/en/venue">Venue</a>
                {% else %}
                <a href="/locatie">Locatie</a>
                {% endif %}
            </li>
            <li class="header-ticket">
                <a class="ticket-btn btn-primary" href="{{ site.data.event.tickets }}" target="_blank">
                  <i class="fas fa-tag"></i> Tickets</a>
              </li>
            <li>
                {% if page.lang == "en" %}
                <a href="/">Nederlands</a>
                {% else %}
                <a href="/en">English</a>
                {% endif %}
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>